---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
		import { YouTube } from '@astro-community/astro-embed-youtube';
---

<html lang="en">
	<head>
		<MainHead title="Art Oasis" description="Universidad Art Oasis" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>UNIVERSIDAD ART OASIS</h1>
			<div class="heroImg">
				<img
						width="1400"
						height="350"
						src="/assets/header.jpeg"
				/>
			</div>
			<div class="bio wrapper">
				<h3>INTRODUCCIÓN</h3>
				<p>
					Todos provenimos de África. Los ancestros de todas las razas nativas de este planeta deben su origen a la cuna africana. A cambio, Africa ha sido durante siglos olvidada y hasta saqueada por ultrajes de infaustos recuerdos. Es tiempo de devolverle a Africa lo que nos prestó. Todos estamos en deuda con ella. Y lejos de estar resentida, nos tiende sus manos abiertas. Permíteme que me presente. Me llamo Carlos Costa, y he estado a cargo del desarrollo de varios proyectos en Senegal a lo largo de más de una década. El proyecto, en el que estoy enfocado actualmente es la consecuencia lógica y creativa, de los proyectos plenamente desarrollados y concluidos en Senegal en los últimos 12 años, a saber son los siguientes:</p>

				<ol>
					<li>Jardínes botánicos, desarrollados con técnicas de permacultura, bosque de alimentos y medicinas.
					</li>
					<li>
						Laboratorios de transformación, secado, destilación e investigación.
					</li>
					<li>
						Escuelas e institutos de formación, congresos y convergencias. Alumnado de todas las edades y niveles.

					</li>
					<li>
						Escuelas de formadores y vectores en técnicas de marketing y comercio sostenible.

					</li>
					<li>
						Explotaciones agrícolas, comerciales, basadas e implementadas en permacultura, agroecologia, bosques de alimentos y transformación de productos, manufacturación y venta.

					</li>
					<li>
						Instituto marino de desarrollo sostenible para evitar erosión, permacultura y bosque de alimentos sobre dunas de arena, espacios degradados y desiertos.

					</li>

				</ol>



				<YouTube class="lite-youtube" id="https://youtu.be/G5XcdLmcCVA" />
				<h3>NUEVO PROYECTO: VISIÓN 2023</h3>
				<p>
					Estudios Universitarios de permacultura, bosques de alimentos y medicinas naturales. Art Oasis. Bolama, Guinea Bissau
				</p>
				<p>
					Bolama antigua capital colonial de Guinea Bissau hasta 1945, ciudad encantadora, está situada en la isla de Bolama, y es parte del paradisíaco Archipiélago de Bijagós. Enmedio de frondosos parques marítimos naturales Patrimonio de la Humanidad, existen edificios coloniales británicos y portugueses abandonados y de actual propiedad estatal. Dos de los cuales, como mínimo, son susceptibles de ser reformados para convertirse en la sede de la Universidad Art Oasis y en el epicentro del desarrollo de las actividades. Dichos edificios precisarían de la cesión por parte de las autoridades a la fundación, que sería dotada con patente universitaria al efecto del desarrollo de las dinámica mencionada. Asímismo se considera la cesión y compra de terrenos, en la misma isla, para la creación de plantaciones, viveros y bosques de alimentos y plantas medicinales. Es esencial también, por parte de las autoridades educativas competentes, la homologación de titulaciones, que serán emitidas por la Universidad. La construcción de un Resort de destino vacacional alternativo y complementario a los destinos turísticos conocidos, anexo a la Universidad, entra el los planes, junto a una playa paradisíaca, donde recibir tratamientos holísticos. Los beneficios de dicha explotación irían íntegramente destinados a la sufragación de becas estudiantiles, materiales de investigación, casas de salud para las aldeas y créditos no reembolsables para que familias puedan crear cultivos eco sostenibles de alimentos y medicinas.
				</p>
				<p>
					Igualmente contemplamos el apoyo en la creación de un Instituto Panafricano de desarrollo de medicinas autóctonas dependiente de la Universidad Art Oasis, relacionada con cualquier entidad de cualquier país del continente africano.
				</p>
				<p>

				</p>



			</div>
		</div>
		<Footer />
	</body>
</html>

<style>
	pre {
		margin-top: 4rem;
		white-space: pre-line;
		font-family: var(--f-u1);
		font-weight: 400;
		font-style: italic
	}
	lite-youtube {
		margin-left: auto;
		margin-right: auto;
		width: 720px;
	}

	box {
		padding: 30px;
		border-radius: 20px;
		border: 2px solid #00aa96;
		text-align: end;
		font-style: italic;
		margin-top: 50px;
		background-color: white;
	}
	.phrase {
		color: #00aa96;
		font-style: italic;
		margin: 30px 0;
		text-align: end;
		line-height: 2;
		font-size: larger;
		font-family: PT Sans;
	}
</style>
