---
		import { Icon } from 'astro-icon'
const items = [

		{
			title: 'DONA',
			description: 'Si quieres ayudar a que este proyecto se haga realidad, puedes hacer una donación a través de una transferencia al número de cuenta:',
			image: 'donate-outline',
			extra: 'Beneficiario: Asociación ArtOasis\nIBAN: ES07 0081 1086 25 0006318747'
		},

		{
			title: 'COLABORA',
			description: 'Puedes formar parte del proyecto colaborando con tu trabajo. Como por ejemplo, como diseñador, marketing, enseñando en la universidad, buscando inversores, ayudando en las redes sociales...',
			image: 'handshake-outline'
		},
		{
			title: 'COMPARTE',
			description: 'Ayudanos difundiendo el proyecto a través de las redes sociales.',
			image: 'bullhorn-outline'
		},
		{
			title: 'CONTACTA',
			description: 'Si tienes alguna duda o propuesta no dudes en escribirnos a',
			image: 'at',
			extra: 'art.oasis@protonmail.com'
		},
];
---


<section class="scroll-mt-16" id="features">
<div class="sm:px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800">
	<div class="mb-10 sm:text-center md:mb-12">
		<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
			¿Quieres formar parte del proyecto?
		</h2>
		<p class="mx-auto sm:text-center text-xl">
			Puedes apoyarnos de muchas formas:
		</p>
	</div>
	<div class="grid mx-auto space-y-6 md:space-y-10 md:max-w-3xl">
		{items.map(({ title, description, image, extra }) => (
			<div class="flex flex-row sm:px-8">
				<div class="mb-4 mr-4">
					<div class="flex items-center justify-center w-12 h-12">
						<Icon pack="mdi" name={image} color="#00aa96"  />
					</div>
				</div>

				<div>
					<h3 class="mb-3 mt-3 text-xl font-bold flex items-center text-c-green" >{title}</h3>
					<p>{description}</p>
					<pre class="font-sans font-bold whitespace-pre-wrap	">{extra}</pre>
				</div>
			</div>
		))}
	</div>
</div>
</section>

<style>
pre {
	white-space: pre-line;
	font-size: var(--f-u1);
	line-height: 2;
}
p {
	font-size: var(--f-u1);
	line-height: 2;
}
</style>






