---
const items = [

		{
			title: 'DONA',
			description:
				'Si quieres ayudar a que este proyecto se haga realidad, puedes hacer una donación haciendo a través de una transferencia, utilizando Paypal, Bizzum...',
			image: '../donation.svg'
		},
		{
			title: 'COLABORA',
			description:
				'Puedes formar parte del proyecto colaborando con tu trabajo. Como por ejemplo, como diseñador, buscando inversores, ayudando en las redes sociales...',
			image: '../collaborate.svg'
		},
		{
			title: 'COMPARTE',
			description:
				'Ayudanos difundiendo el proyecto a través de las redes sociales.',
			image: '../share.svg'
		},
];
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800">
		<div class="mb-10 sm:text-center md:mb-12">
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				¿Quieres formar parte del proyecto?
			</h2>
			<p class="mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
			Puedes apoyarnos de muchas formas:
			</p>
		</div>
		<div class="grid gap-y-16 space-y-6 md:grid-cols-6 md:space-y-0">
				{items.map(({ title, description, image }) => (
				<div class="space-y-8 sm:px-8 flex flex-row col-span-1 justify-end ">
						<div class="flex items-center justify-center w-12 h-12 ">
							<img src = {image} alt="My Happy SVG"/>
						</div>
				</div>

				<div class="col-span-5">
					<h3 class="mb-3 text-xl font-bold flex items-center" >{title}</h3>
					<p>{description}</p>
				</div>

				))}
		</div>


	</div>


</section>
